@model List<KargoDetay>
@{
    ViewBag.Title = "Kargo Detay";
}
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
{
    <div>
        <a href="/Kargo/YeniKargo/" class="btn btn-primary">Yeni Kargo</a>
        <p class="mt-2 font-weight-bold">
            Kargo Takip Kodu: @Html.TextBox("kargo")
            <input type="submit" value="Ara" class="col-sm-2" />
        </p>
    </div>
}
<table class="table table-bordered mt-1">
    <tr>
        <th>#</th>
        <th>Takip Kodu</th>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Düzenle</th>
    </tr>
    @{
        int i = 1;
        foreach (KargoDetay kargo in Model)
        {
            <tr>
                <td>@i</td>
                <td>@kargo.TakipKodu</td>
                <td>@kargo.Personel</td>
                <td>@kargo.Alici</td>
                <td>@kargo.Tarih.ToString("G")</td>
                <td><a href="/Kargo/KargoTakip/@kargo.TakipKodu" class="btn btn-warning mt-2">Kargo Takip</a></td>
            </tr>
            i++;
        }
    }
</table>