@model Cari
@{
    ViewBag.Title = "Cari Düzenle";
}
<h4>Cari Düzenle</h4>
<form action="@Url.Action("CariDuzenle", "Cari")" method="post">
    <input type="hidden" name="CariID" value="@Model.CariID" />
    <div>
        <label for="CariAd" class="font-weight-bolder">Adı:</label>
        <input type="text" id="CariAd" name="CariAd" class="form-control" value="@Model.CariAd" />
        @if (ViewData.ModelState["CariAd"]?.Errors.Any() == true)
        {
            <span class="text-danger">@ViewData.ModelState["CariAd"].Errors.First().ErrorMessage</span>
        }
    </div>
    <div>
        <label for="CariSoyad" class="font-weight-bolder mt-2">Soyadı:</label>
        <input type="text" id="CariSoyad" name="CariSoyad" class="form-control" value="@Model.CariSoyad" />
        @if (ViewData.ModelState["CariSoyad"]?.Errors.Any() == true)
        {
            <span class="text-danger">@ViewData.ModelState["CariSoyad"].Errors.First().ErrorMessage</span>
        }
    </div>
    <div>
        <label for="CariSehir" class="font-weight-bolder mt-2">Şehir:</label>
        <input type="text" id="CariSehir" name="CariSehir" class="form-control" value="@Model.CariSehir" />
        @if (ViewData.ModelState["CariSehir"]?.Errors.Any() == true)
        {
            <span class="text-danger">@ViewData.ModelState["CariSehir"].Errors.First().ErrorMessage</span>
        }
    </div>
    <div>
        <label for="CariEmail" class="font-weight-bolder mt-2">Email:</label>
        <input type="text" id="CariEmail" name="CariEmail" class="form-control" value="@Model.CariEmail" />
        @if (ViewData.ModelState["CariEmail"]?.Errors.Any() == true)
        {
            <span class="text-danger">@ViewData.ModelState["CariEmail"].Errors.First().ErrorMessage</span>
        }
    </div>
    <button type="submit" class="btn btn-outline-success mt-2">Güncelle</button>
</form>